---
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
// import Navbar from "@/sections/Navbar.astro";
import { Navbar } from "@/components/react/Navbar";
---

<Layout
	title="Control de finanzas e ingresos"
	description="Registra tus gastos e ingresos y tus operaciones de trading en diferentes apartados"
>
	<div class="ss">
		<button class="btn btn-primary">Primary</button>
		<button class="btn btn-secondary">Secondary</button>
		<button class="btn btn-tertiary">Tertiary</button>
	</div>
</Layout>
