---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1>Trading Page</h1>
  <p>
    Welcome to the trading page! Here you can find all the latest information
    about trading activities, market trends, and more.
  </p>
  <p>
    Stay tuned for updates and insights to help you make informed trading
    decisions.
  </p>
</Layout>
