<header class="flex flex-col items-center justify-center">
  <h1 class="font-semibold">Control de finanzas e ingresos</h1>
  <p class="text-sm text-neutral-400 text-center text-balance">
    Registra tus gastos e ingresos y tus operaciones de trading en diferentes
    apartados
  </p>
</header>

<style>
  h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
  }
  p {
    font-size: clamp(0.875rem, 2vw, 1rem);
  }
</style>
